<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PlaNet (San Carlos)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
  
  <div class="navbar">
    <ul>
      <li><a class="active" href="Home.html">Home</a></li>
      <li><a href="AboutPage.html">About</a></li>
      <li><a href="PlantNet_Project.html">Upload</a></li>
      <li><a href="HowToUse.html">How to use</a></li>
      <li><a href="https://github.com/AviDavi1023/PlaNet">GitHub</a></li>
    </ul>
  </div>


  <div class="logo">
    <img class="logo_image"src="{{ url_for('static', filename='Logo.png') }}" alt="logo">
    <h1>PlaNet</h1>
  </div>

  <div class="info">
    <p><b>Welcome to PlaNet,</b> where you can upload any photo to identify it and get important information about its biodiversity.</p>
  </div>
  
  <a href="PlantNet_Project.html"><button class="return_home_button">Press to Begin</button></a>

</body>

</html>